<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./styles/main.css">
    <title>Document</title>
</head>

<body>

    <div class="main">
        <form action=""class="search"> 
            <input type="text" name="searchText" class="searchText" placeholder="Пошук">
        </form>
        <div class="topic"></div>
        <hr>
        <form action=""class="createTopic">
            <input type="text" name="nameTopic" placeholder="Введіть назву...">
            <textarea type="text" name="textTopic" placeholder="Введіть текст..."></textarea>
            <button type="submit" class="btnSubmit">Зберегти</button>
        </form>
    </div>
    <script src="./js/main.js"></script>
</body>

</html>
